<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/css/ex_debate_list.css' />
    <title>이전 주제 리스트 페이지</title>
  </head>

  <script>
      let isLogined = {{isLogined}};
      console.log(isLogined);
  </script>

  <body>
    <!-- 상단 메뉴 바 -->
    {{> header}}

    <!--수정중-->
    <table class='table table-striped topic-list'>
      <thead>
        <tr>
          <th>번호</th>
          <th>주제</th>
          <th>날짜</th>
        </tr>
      </thead>

      <tbody class="list-body">
      {{#if getPassedListValue}}
        {{#each getPassedListValue}}
          <tr>
            <td>{{countNumber}}</a></td>
            <td style="width: 60%; text-overflow: ellipsis;"><a class="ex-debate-show-link" href="/list/view/{{reserveId}}">{{topic.topicName}}</a></td>
            <td>{{dateFormat startDate "YY.MM.DD"}}~{{dateFormat endDate "YY.MM.DD"}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="5" align="center">데이터가 없습니다.</td>
        </tr>
      {{/if}}
      </tbody>
    </table>

    <!-- 페이지 이동 버튼 -->
    <nav aria-label='Page navigation example pagemove'>
      <ul class='pagination justify-content-center'>
        {{!-- <li class='page-item'>
          <a class='page-link' href='#' aria-label='Previous'>
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li> --}}
        {{!-- <li class='page-item'>
          <a class='page-link' href='#' aria-label='Next'>
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li> --}}

      </ul>
    </nav>

    <script>
      const pagecount = {{topicReservePageCount}};
      console.log(pagecount);
      const ul = document.querySelector(".pagination");
      let li;
      for(let i = 0; i < pagecount; i++){
        li = document.createElement('li');
        li.classList.add("page-item");
        let dom = `<a class='page-link' href='/list/page/${i+1}'>${i+1}</a>`;
        console.log(i);
        console.log(dom);
        li.innerHTML = dom;
        console.log(li);
        ul.appendChild(li);
      }
    </script>

  </body>
  <script src="/js/login.js"></script>
</html>